* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body {
    background-color: mediumpurple;
}

.contact-section {
    padding: 5% 0%;
}

.contact-container {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    
}

.contact-left {
    width: 50%;
    background-color: #0db3c9;
    color: white;
    padding: 18% 4%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    
}

.contact-left h1 {
    font-size: 50px;
    margin-bottom: 2%;
}

.contact-left p {
    font-size: 16px;
    margin-bottom: 6%;
}

.contact-right {
    width: 50%;
    padding: 4% 5%;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

.contact-right h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 2%;
}

.required {
    font-size: 11px;
    color: gray;
    margin-bottom: 2%;
}

form input,
form textarea {
    width: 100%;
    background-color: #eeeeee;
    border: none;
    padding: 3%;
    margin-bottom: 3%;
    font-family: cursive;
}

form textarea {
    height: 100px;
}

.submit {
    width: 45%;
    display: block;
    margin: auto;
    background-color: #0db3c9;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}